/* ROBOT.GIF from Giphy - https://giphy.com/gifs/robot-cinema-4d-eyedesyn-3o7abtn7DuREEpsyWY */

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

html {
  box-sizing: border-box;
}
body {
  margin: 0;
  background: #45BADD;
}
.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('./robot.gif');
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
}
button {
  cursor: pointer;
  outline: none;
  width: 200px;
  height: 50px;
  font-family: Orbitron, sans-serif;
  font-size: 20px;
  color: white;
  background-color: #FF3482;
  border: none;
  border-radius: 6px;
  box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.2);
}
button:hover {
  filter: brightness(95%)
}
button:active {
  transform: scale(0.98);
}
button:disabled {
  cursor: default;
  filter: brightness(30%);
}

/* Tablet or smaller */
@media screen and (max-width: 1000px) {
  .container {
    background-position: center;
    background-size: cover;
  }
  button {
    box-shadow: 5px 5px 30px 20px rgba(0, 0, 0, 0.5)
  }
}